:root {
  --navbar-height: 56px;
  --footer-height: 72px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: ghostwhite;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.custom-navbar {
  background-color: #142c5c;
  left: 0;
  top: 0;
  z-index: 1;
  margin: 0;
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  list-style: none;
  min-height: var(--navbar-height);
}

.custom-navbar a {
  color: ghostwhite;
  font-size: 25px;

}


.custom-navbar a:hover {
  color: khaki;
}

.navbar-toggler {
  background-color: aliceblue;
}

.container-fluid {
  width: 100%;
  height: 100%;
  position: relative;
}

.content-section {
  min-height: calc(100% - var(--navbar-height));
}

.col-sm-12 > h1 {
  text-align: center;
  padding: 1%;
}
.col-12{
  text-align: center;
}

.table {
  text-align: center;
}

th,
td {
  border: 1px solid;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.social-item{
  margin-top: 15px;
}

.social-item > a {
  color: whitesmoke;
  border: 1px solid black;
  padding: 9px 12px;
  border-radius: 8px;
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.social-item > a:hover{
  color:  wheat;
}

.dt-search {
  display: none;
  text-align: right;
}