html,
body {
  height: 100%;
}

body {
  margin: 0%;
  padding: 0%;
}

.custom-navbar {
  background-color: #142c5c;
}

.custom-navbar a {
  color: ghostwhite;
  font-size: 25px;
}

.custom-navbar a:hover {
  color: khaki;
}

.navbar-toggler {
  background-color: aliceblue;
}

.container-fluid {
  width: 100%;
  height: 100%;
  position: relative;
}

thead, tbody{
  text-align: center;
}

.col-sm-12 > h1{
  text-align: center;
  padding: 1%;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

/* .custom-footer {
  background-color: #232f3a;
  color: whitesmoke;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 0%;
} */
