html,
body {
  height: 100%;
}

body {
  margin: 0%;
  padding: 0%;
}

.custom-navbar {
  background-color: #142c5c;
}

.custom-navbar a {
  color: ghostwhite;
  font-size: 25px;
}

.custom-navbar a:hover {
  color: khaki;
}

.navbar-toggler {
  background-color: aliceblue;
}

.container-fluid {
  width: 100%;
  height: 100%;
  position: relative;
}


/* .custom-footer {
  background-color: #232f3a;
  color: whitesmoke;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 0%;
} */
